{% extends "base.html" %}

{% set sorted_by_price = tours.values()|sort(attribute="price") %}
{% set sorted_by_nights = tours.values()|sort(attribute="nights") %}

{% block main %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departure }}</h1>
    <p class="mb-4">Найдено {{ tours|length }} туров, от {{ (sorted_by_price|first).price }} до {{ (sorted_by_price|last).price }}
        и от {{ (sorted_by_nights|first).nights }} ночей до {{ (sorted_by_nights|last).nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for key, value in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ value.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ value.title }}</h2>
            <p class="card-text">{{ value.description|truncate(130) }}</p>
            <a href="/tours/{{ key }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </main>
{% endblock %}